# Environments
.venv/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# Build / Distribution
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.mypy_cache/
.dmypy.json
.pyre/

# Editor / IDE
.vscode/
.idea/

# Jupyter / Streamlit
.ipynb_checkpoints/
.streamlit/

# Logs and misc
*.log
*.pot
*.mo

# OS
.DS_Store
Thumbs.db